extends ../layouts/default.pug

block content
  .container.py-3
    h4 "Typescript Express Boilerplate"

    ul
      li Pug
      li Winston
      li Concurrently
      li Socket.io
      li Bull
      li Dotenv
      li Typedi
