html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Typescript Express Boilerplate
    block styles
      link(rel='stylesheet', href='/static/css/bootstrap.min.css')
      link(rel='stylesheet', href='/static/css/style.css')
    block scripts
      script(src='/static/js/bootstrap.bundle.min.js')
      script(src='/static/js/main.js')
  body.bg-light
    block head
      include ../include/header
    block content
    block foot
      include ../include/footer
